* {
  font-family: "inter";
  font-weight: normal;
  font-style: normal;
  font-size: 15px;
  color: whitesmoke;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "inter";
  src: url(assets/fonts/Inter_18pt-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "inter";
  src: url(assets/fonts/Inter_18pt-Bold.ttf);
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: "inter";
  src: url(assets/fonts/Inter_18pt-Italic.ttf);
  font-weight: italic;
  font-style: italic;
}

@font-face {
  font-family: "inter";
  src: url(assets/fonts/Inter_18pt-Light.ttf);
  font-weight: light;
  font-style: light;
}

nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 30px #171717d8;
  background-color: #313131;
  width: 100%;
  height: 3.8vh;
  gap: 1rem;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  padding: 0.5rem;
  text-decoration: none;
  margin: 2rem;
  font-weight: bold;
  color: rgb(158, 22, 22);
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: 1rem;
}

.nav-links-container {
  margin-left: auto;
  display: flex;
  justify-content: right;
  align-items: center;
}

.nav-links:hover {
  color: rgb(200, 30, 30);
  box-shadow: 0 0 20px #1d1d1d70;
}

.Box-logo {
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-logo {
  color: rgb(176, 176, 176);
  font-weight: bold;
  font-size: 1.3rem;
  text-decoration: none;
}

.container-fluid {
  flex-direction: row-reverse;
}
